<h4 class="title"><%= outfit.title.titleize %></h4>

<ul>
  <li class="type"> Type: <%= outfit.outfit_type.titleize %> </li>
  <li class="season"> Season: <%= outfit.season.title.titleize %> </li>
</ul>