<h4>All Outfits</h4>

<ul>
<% current_user.outfits.sort_by { |outfit| outfit.season.title }.each do |outfit| %>
	  <li> <%= outfit.season.title.titleize %> - <%= link_to outfit.title, outfit_path(outfit) %></li>
<% end %>
</ul>