<%= render partial: 'outfit', :locals => { :outfit => @outfit } %>

<input id="outfit_id" data-id="<%=@outfit.id%>" type="hidden" />

<p>Clothing in Outfit:</p>
<ul>
	<div class="clothing-items">

	</div>
</ul>

<p>Add clothing to outfit:</p>
<ul id="items_not_in_outfit">

</ul>

<p>
	<%= link_to "Edit", edit_outfit_path %> | 
	<%= link_to "Delete", { :controller => :outfits, :action => :destroy} , :method => :delete %> 
</p>

<a href="#" class="js-next">Next Outfit</a>

