<h3>Capsule Wardrobe Organizer</h3>


<%= link_to "Most used clothing items", items_most_used_path %> <p>

<%= link_to "Least used clothing items", items_least_used_path, :most_or_least => "Least" %> 

