<h3>Capsule Wardrobe Organizer</h3>

<% if user_signed_in? %>
	<%= link_to "Most used clothing items", '/items/used?order=most' %> <p>

	<%= link_to "Least used clothing items", '/items/used?order=least' %> 
<% end %>
