<% most_or_least_array.each do |item| %>
	<li><%= link_to item.title.titleize, { :controller => :items, :action => :show, :id => item.item_id.to_s } %> | <%= item.category.title.titleize %> | <%= pluralize(item.outfits_count, "outfit") %></li> 
<% end %>