<h4> <%= @item.title.titleize %></h4>
<ul>
  <li> Category: <%= @item.category.title.titleize %> </li>
  <li> Color: <%= @item.color %> </li>
  <% if !@item.condition.nil? %>
	  <li> Condition: <%= @item.condition %> </li>
  <% end %>
</ul>