<h3>Top 5 Most Used Items</h3>

<ol>
<% Item.most_used_items.by_user(current_user).limit(5).each do |item| %>
<% if item.outfits_count > 0 %>
	<li><%= link_to item.title.titleize, { :controller => :items, :action => :show, :id => item.item_id.to_s } %> | <%= item.category.title.titleize %> | <%= pluralize(item.outfits_count, "outfit") %></li> 
	<% end %>

<% end %>
</ol>
